<table class="table" *ngIf="files.length > 0">
  <thead>
    <tr>
      <th>File Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of files">
      <td>
        <a href="http://api.sadfm.co.za/api/TrainingVideos/Download?name={{name}}&fileName={{file}}">Download {{file}}</a>
        <br />
        <video height="300" controls>
          <source src="http://api.sadfm.co.za/api/TrainingVideos/Download?name={{name}}&fileName={{file}}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </td>
    </tr>
  </tbody>
</table>

<table class="table" *ngIf="categories.length > 0">
  <thead>
    <tr>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>
        <a href="/TrainingVideos?name={{category}}">{{category}}</a>
      </td>
    </tr>
  </tbody>
</table>